body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Viaoda Libre';
    font-weight: bold;
    background-image: url(img/backgroundobjects/complete.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

button {
    font-family: 'Viaoda Libre';
    font-weight: bold;
    background-color: #ffa703;
    cursor: pointer;
    filter: brightness(90%);
    border: none;
    transition: all 500ms ease-in-out;
    letter-spacing: 3px;
}

button:hover {
    filter: brightness(100%);
}

span {
    cursor: default;
}

.game-container {
    position: relative;
    height: 670px;
    width: 960px;
    display: flex;
    flex-direction: column;
    border-top: 4px solid #ff7b002c;
    border-radius: 15px;
}

/* .game-container:fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: contain;
  } */

#startScreen {}

.button-bar {
    display: flex;
    flex-direction: row;
}

.gameButton {
    height: 50px;
    width: 100%;
    font-size: 26px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    filter: brightness(90%);
}

.result-text {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bolder;
    background-color: #ffa703;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    filter: brightness(90%);
    letter-spacing: 5px;
}

.d-none {
    display: none;
}

.endScreen {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50px;
    left: calc(50% - 200px);
}

.gameResult {
    transform: scale(0.1);
    opacity: 0;
    z-index: -999;
    transition: all 500ms ease-in-out;
}

#gameOver {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    letter-spacing: 3px;
}

#gameWon {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    letter-spacing: 3px;
}

.restart {
    position: absolute;
    bottom: 100px;
    left: calc(50% - 150px);
    height: 50px;
    width: 300px;
    transform: scale(0.1);
    opacity: 0;
    z-index: -999;
    transition: all 500ms ease-in-out;
    font-size: 25px;
    border-radius: 15px;
}

.showResult {
    transform: scale(1);
    opacity: 1;
    z-index: 999;
}

#controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 50px;
    border-top-left-radius: 15px;
    font-size: 24px;
}

.control-description {
    position: absolute;
    top: 590px;
    width: 100%;
    background-color: #ff8703;
    filter: brightness(90%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 0px;
    overflow: hidden;
    transition: height 225ms ease-in-out;
    font-size: 26px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    letter-spacing: 2px;
}

.show-description {
    height: 80px;
}

.control-description img {
    height: 40px;
}

.control-description span {
    margin-left: 10px;
    margin-right: 20px;

}

.space-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    font-family: 'Viaoda Libre';
    font-weight: bold;
}

.space-button img {
    width: 75px;
    height: 35px;
}

a {
    position: absolute;
    bottom: 0;
    left: 0;
}

.fullscreen {
    position: absolute;
    left: 940px;
    bottom: 80px;
    cursor: pointer;
    filter: brightness(90%);
}

.fullscreen:hover {
    filter: brightness(100%);
}

.btnleft {
    position: absolute;
    bottom: 20px;
    left: 30px;
    border-radius: 40px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.432);
    border: 1px solid black;
}

.btnright {
    position: absolute;
    bottom: 20px;
    left: 200px;
    border-radius: 40px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.432);
    border: 1px solid black;
}

.btnjump {
    position: absolute;
    bottom: 20px;
    right: 200px;
    border-radius: 40px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.432);
    border: 1px solid black;
}

.btnthrow {
    position: absolute;
    bottom: 20px;
    right: 30px;
    border-radius: 40px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.432);
    border: 1px solid black;
}

.btndnone {
    display: none;
}

@media only screen and (max-width: 960px) {
    .btndnone {
        display: block;
    }

    .game-container {
        width: 100%;
        overflow: hidden;
        border-radius: 0px;
    }

    canvas {
        width: 100%;
    }

    .dnoneresponsiv {
        display: none;
    }

    .restart {
        bottom: 587px;
        width: 100%;
        left: 0px;
        height: 30px;
        font-size: 20px;
    }

    .result-text {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

}

@media only screen and (max-height: 540px) {
    .btndnone {
        display: block;
    }

    .game-container {
        height: 100vh;
        overflow: hidden;
        border-radius: 0px;
    }

    canvas {
        height: 88%;
    }

    .dnoneresponsiv {
        display: none;
    }

    .restart {
        bottom: 290px;
        width: 100%;
        left: 0px;
        height: 30px;
        font-size: 20px;
    }

    #startScreen, #gameOver, #gameWon {
        height: 88%;
    }

    .result-text {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}

@media all and (display-mode: fullscreen) {
    .control-description {
        display: none;
    }

    #controls {
        display: none;
    }

    .fullscreen {
        display: none;
    }
}

/* RESPONSIVE PASST SICH NICHT AN */
/* FULLSCRREN NICHT KOMPLETT NUR CANVAS */
/* RESPONSIVE BUTTONS DANACH HINZUFÜGEN */